header.page1 {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;
    position: fixed;
    width: 100%;
    background: #FFFFFF;
    z-index: 9;
}
header.page1 form.input-group{
    margin: 0;
    margin-right:1rem;
}
div.mui-content{
    padding-top: 3rem;
}
.input-group {
    position: relative;
    flex: 1;
    margin-right: 1rem;
    height: 1.8rem;
}
input.search-page-input {
    height: 100%;
    background: url(../imgs/search.png) no-repeat;
    background-position: 0.5rem;
    background-size: 1rem;
    margin: 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.15);
    border-radius: 1rem;
    padding-left: 2rem;
    font-size: 0.8rem;
    width: 100%;
}
img.clear-icon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 0.8rem;
}

img.switch-layout {
    display: none;
    width: 1.2rem;
}
img.switch-layout.active {
    display: block;
}

ul.tab-bar {
    margin: 0;
    list-style: none;
    padding-left: 0;
}

li.tab-bar-item{
    display: inline-block;
    text-align: center;
    color:#888888;
    font-size: 0.8rem;
    width: 3rem;
    height: 1.5rem;
    position: relative;
    margin-right: 1rem;
    line-height: 0.9rem;
}
li.tab-bar-item.active{
    color:#5e452d;
}
li.tab-bar-item.active:after {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #5e452d;
}
li.sort-item.active img.sort-icon.no-active {
    display: none;
}
li.sort-item img.sort-icon.active {
    display: none;
}
li.sort-item.active img.sort-icon.active {
    display: block;
    transition: all 0.2s ease;
}
ul.sort-header {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    border-bottom: 1px solid #f6f6f6;
    padding-bottom: 0.6rem;
}
li.sort-item {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
}
img.sort-icon {
    width: 0.6rem;
}
.sort-item>p{
    font-size: 0.8rem;
    margin-right: 0.2rem;
    line-height: 0.6rem;
}
.sort-item.active>p{
    color:#ff5816;
}
.goods-item span.goods-price{
    color:#ff5816;
}

div.goods {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2.3rem;
}

/**
    商品默认布局方式（一行两个）
*/
.goods-item {
    width: 48%;
    margin-bottom: 1rem;
    min-height: 4rem;
}
.goods-item img.goods-img {
    width: 100%;
    height: 8rem;
}
.goods-item .goods-info>p:first-child {
    margin: 0.2rem 0;
    font-size: 0.8rem;
    line-height: 0.8rem;
}
.goods-item .goods-info>p {
    font-size: 0.8rem;
    line-height: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.goods-item .goods-info>p:first-child>span:first-child{
    color: #333333;
}
.goods-item span.eye-container {
    display: inline-flex;
    align-items: center;
}

.goods-item img.view-num {
    width: 1rem;
    margin-right: 0.2rem;
}
.goods-item .goods-info>p {
    font-size: 0.8rem;
    line-height: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.goods-item button.reserve {
    background: #9d7e60;
    border: none;
    border-radius: 1rem;
    color: #fff;
    padding: 0 0.3rem;
    font-size: 0.6rem;
    line-height: 1rem;
}
.bottom-line {
    width: 100%;
    color: #aaa;
    font-size: 0.8rem;
    text-align: center;
    height: 2rem;
}

/**
    商品行排列方式布局
*/
.goods-item-line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    position: relative;
    min-height: 4rem;
}

.goods-item-line img.goods-img {
    width: 30%;
    height: 5rem;
}

.goods-item-line .goods-info{
    flex: 1;
    height: 100%;
}
.goods-item-line .goods-info>p:first-child {
    font-size: 0.8rem;
    position: absolute;
    top: 0;
    left: 32%;
    line-height: 0.8rem;
}
.goods-item-line .goods-info>p:first-child>span{
    display: block;
}
.goods-item-line .goods-info>p:first-child>span:last-child{
    display: inline-flex;
    align-items: center;
}

.goods-item-line .goods-info>p:last-child {
    margin: 0.2rem 0;
    font-size: 0.8rem;
    line-height: 0.8rem;
    position: absolute;
    bottom: 0;
    left: 32%;
    width: 68%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.goods-item-line img.view-num {
    width: 1rem;
    margin-right: 0.2rem;
}
.goods-item-line .goods-info>p:first-child>span:first-child{
    color: #000000;
    margin-bottom: 0.2rem;
}
.goods-item-line button.reserve {
    background: #9d7e60;
    border: none;
    border-radius: 1rem;
    color: #fff;
    padding: 0.2rem 0.5rem;
    font-size: 0.6rem;
    line-height: 1rem;
}
.goods-item-line span.goods-price{
    color:#ff5816;
}


div.tab-content{
    display:none;
}
div.tab-content.goods.active{
    display: flex;
    flex: 1;
    align-items: flex-start;
}
div.tab-content.business.active{
    display: block;
}
div.tab-content.goods.active.goods-line {
    height: calc(100% - 2.2rem);
    overflow: scroll;
}
div.tab-content.goods.active.goods-line {
    height: calc(100% - 2.2rem);
    overflow: scroll;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.tab-content.goods.active.goods-not-line{
    height: calc(100% - 0.2rem);
    overflow: scroll;
    margin-top: 0.2rem;
}
.business-item,.business-item-line{
    margin-bottom: 1rem;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.15);
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.business-item>.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.business-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img.business-logo {
    width: 2rem;
    margin-right: 1rem;
    height: 2rem;
    border-radius: 50%;
}
img.business-level {
    width: 0.8rem;
    margin-left: 0.2rem;
}
p.business-detail {
    display: flex;
    flex-direction: column;
}
button.go-business-btn{
    border: 1px solid #9d7e60;
    border-radius: 1rem;
    color:#9d7e60;
}
.business-item .bottom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
}
img.business-img-item {
    width: 30%;
    margin: 0 1.5%;
    height: 5rem;
}
p.business-detail>span:first-child {
    font-size: 0.8rem;
    line-height: 0.8rem;
    margin-bottom: 0.4rem;
    display: flex;
    align-items: center;
}
p.business-detail>span:last-child {
    font-size: 0.6rem;
    line-height: 0.6rem;
}
/**
    商铺行排列方式
*/
.business-item-line {
    display: flex;
    flex-direction: column;
}
.business-item-line>.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    order: 1;
}
.business-item-line .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.business-item-line img.business-level:first-child{
    margin-left: 1rem;
}
.business-item-line .goods-desc {
    flex: 1;
    padding-left: 1rem;
}
.goods-item-line p.goods-title {
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.5rem;
    line-height: 1rem;
}
.goods-item-line p.goods-detail {
    color: #aaaaaa;
    font-size: 0.7rem;
    line-height: 0.7rem;
}

/**搜索页样式*/
div.search-page.active{
    animation: slideIn 0.2s ease;
    animation-fill-mode: forwards;
}
@keyframes slideIn{
    from{
        left:100%
    }
    to{
        left:0
    }
}
div.search-page {
    position: fixed;
    left: 100%;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: #fff;
}
div.search-page.slide-out{
    animation: slideOut 0.2s ease;
    animation-fill-mode: forwards;
}
@keyframes slideOut{
    from{
        left:0
    }
    to{
        left:100%
    }
}
div.search-page>header {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img.icon-back {
    width: 0.6rem;
}
span.cancel-search {
    white-space: nowrap;
    color: #333;
    padding: 0.5rem 0;
    font-size: 0.8rem;
}
p.business-detail>span:first-child{
	font-size: 0.8rem;
	line-height: 0.8rem;
    margin-bottom: 0.2rem;
    display: flex;
    align-items: center;
}

p.business-detail>span:last-child{
	font-size: 0.6rem;
	line-height: 0.6rem;
}

ul.tab-bar {
    margin: 0;
    list-style: none;
    padding-left: 15px;
}

li.tab-bar-item{
    display: inline-block;
    text-align: center;
    color:#888888;
    font-size: 0.8rem;
    width: 3rem;
    height: 1.5rem;
    position: relative;
    margin-right: 1rem;
    line-height: 0.9rem;
}
li.tab-bar-item.active{
    color:#5e452d;
}
li.tab-bar-item.active:after {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #5e452d;
}
header.history-header,header.hot-header {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
p.search-history-title,p.search-hot-title {
    font-size: 0.7rem;
}
img.icon-delete {
    width: 0.8rem;
}
ul.history-list ,ul.hot-list{
    list-style: none;
    margin-top: 1rem;
    padding: 0 15px;
}
li.list-item {
    display: inline-block;
    padding: 0.2rem 1rem;
    background: #f6f6f6;
    border-radius: 100px;
    color:#666666;
    font-size: 0.6rem;
    margin-right: 0.6rem;
    margin-bottom: 0.4rem;
}
.input-group {
    position: relative;
    flex: 1;
    margin: 0 1rem;
    height: 1.5rem;
}
img.clear-icon {
    position: absolute;
    top: 0.3rem;
    right: 0.4rem;
    width: 0.8rem;
}
input.search-page-input {
    height: 100%;
    background: url(../imgs/search.png) no-repeat;
    background-position: 0.3rem;
    background-size: 0.8rem;
    margin: 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.15);
    border-radius: 1rem;
    padding-left: 1.5rem;
    font-size: 0.8rem;
    width: 100%;
}
p.name {
    color: #333333;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1rem;
}
p.price {
    color: #ff4404;
    text-align: center;
    font-size: 0.6rem;
    line-height: 1rem;
}
ul.tab-bar.fixed {
    position: fixed;
    width: 100%;
    background: #ffffff;
    left: 0;
    height: 2rem;
    top: 2.5rem;
    z-index: 1;
}
ul.sort-header.fixed {
    position: fixed;
    width: 100%;
    background: #ffffff;
    height: 2.5rem;
    top: 4.5rem;
    margin: 0;
    left: 0;
    padding: 0 1rem;
    z-index: 1;
    display: none;
}
ul.sort-header.fixed.active {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mui-bar-tab~.mui-content{
    padding-top: 7rem;
}
.tab-content.business.active {
    margin-top: 1rem;
}
li.sort-item.active.asc>img{
    transform: rotate(-180deg);
}
ul.categroy-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: calc(30% + 1rem);
    display: inline-block;
    background: #ffffff;
    left: -1rem;
    position: relative;
}
li.categroy-item {
    background: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    border-bottom: 1px solid #FFFFFF;
    font-size: 0.8rem;
    line-height: 1rem;
    color: #000000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
li.categroy-item.active{
    font-weight: 700;
    background: #fff;
}
.category-goods-container {
    display: flex;
    align-items: flex-start;
    position: relative;
    height: calc(100vh - 10rem);
}
.show-categroy {
    position: absolute;
    top: 0;
    left: 30%;
    width: calc(70% + 1rem);
    padding: 0.6rem;
    font-size: 0.8rem;
    line-height: 1rem;
}
.show-categroy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f6f6f6;
    background: #ffffff;
    z-index: 1;
    min-height: 2.3rem;
}
ul.category-level-container {
    margin: 0;
    padding: 0;
    list-style: none;
    flex: 1;
    white-space: nowrap;
    overflow-x: scroll;
    margin-right: 1.5rem;
}
ul.category-level-container::-webkit-scrollbar{
    width: 0;
    height: 0;
}
img.icon-down {
    width: 1rem;
}
li.category-item {
    display: inline-block;
    color: #888888;
    font-size: 0.7rem;
    line-height: 1rem;
    margin-right: 1rem;
    position: relative;
}
li.categroy-item.active:before {
    position: absolute;
    content: '';
    height: 0.8rem;
    width: 0.2rem;
    background: #ff8b16;
    left: 0;
}
.icon-container {
    width: 2.2rem;
    border: none;
    position: absolute;
    right: 0;
    height: 2.2rem;
    text-align: center;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -2px 0 5px #dad5d5;
    background: #fff;
}
.icon-container.icon-container-open{
    box-shadow: none;
}
li.category-item.active {
    color: #ff8b16;
}
.mask {
    background: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
    position: fixed;
    left: calc(30% + 0.4rem);
    bottom: 0;
    top: 0;
}
ul.category-level-container-open {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 1.2rem;
}
li.category-item-open {
    border: 1px solid #f0f0f0;
    margin: 0.15rem;
    border-radius: 1rem;
    padding: 0.2rem 0.6rem;
    font-size: 0.7rem;
    line-height: 1rem;
    color:#888888;
}
li.category-item-open.active{
    color: #ff8b16;
}
.show-categroy-name {
    color: #9d7e60;
    font-size: 0.7rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.1rem;
}