div#app {
    padding: 1rem;
}

div.swiper-slide img {
    width: 100%;
    border-radius: 0.5rem;
}

.swiper-container {
    margin: -1rem;
    margin-top: 1rem;
}

img.icon-back {
    width: 0.6rem;
}

p.title {
    color: #000000;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-top: 1rem;
}
.goods-desc {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    border-bottom: 1px solid #f6f6f6;
}
.goods-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.goods-title-container>p.title {
    color: #000000;
    font-size: 1rem;
    margin: 0;
}
p.collection>img {
    width: 1rem;
}
p.collection {
    display: flex;
    align-items: center;
}
p.collection>img {
    width: 1rem;
    margin-right: 0.2rem;
}
p.collection>span {
    font-size: 0.8rem;
    color: #aaaaaa;
}
p.collection>span.active{
    color: #ff8b16;
}
img.business-logo {
    width: 2.5rem;
}
.business-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.20);
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.business-info {
    display: flex;
    align-items: center;
}
span.business-name {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    line-height: 1rem;
}
p.business-detail {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
img.business-level {
    width: 1rem;
    margin-left: 0.2rem;
}
button.go-business-btn {
    border: 1px solid #ff8b16;
    font-size: 0.8rem;
    border-radius: 1rem;
    padding: 0.2rem 0.8rem;
    color: #ff8b61;
}
p.business-detail>span:last-child{
    font-size: 0.6rem;
    line-height: 0.8rem;
    margin-top: 0.5rem;
}
p.sub-title {
    font-size: 0.6rem;
    line-height: 1rem;
}