p.title {
    color: #333;
    font-size: 1.5rem;
    line-height: 1.6rem;
    padding: 0.2rem 0;
}

p.sub-title {
    font-size: 0.6rem;
    color: #aaaaaa;
    padding: 0.2rem 0;
}

.no-read-msg {
    width: 50%;
    border: 1px solid #f1f1f1;
    height: 4rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

p.msg-num {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.5rem;
    font-size: 0.8rem;
}

p.msg-num>span:first-child {
    color: #aaaaaa;
    font-size: 0.8em;
}

p.msg-num>span:last-child {
    color: #333333;
    font-size: 1em;
}

element.style {
    width: 100vw;
    height: 4px;
    background: #f6f6f6;
    margin: -1rem;
    margin-top: 1rem;
}
.msg-list {
    padding-top: 1rem;
}
.msg-list-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 5rem;
    background: #ffffff;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 0.2rem;
    padding: 0 0.5rem;
    margin-bottom: 1rem;
}

img.msg-icon {
    width: 3rem;
}
div.msg-icon-container{
    position: relative;
}
span.mui-badge.mui-badge-danger {
    position: absolute;
    right: -0.5rem;
    top: 0;
    width: 1.5rem;
    height: 1rem;
    text-align: center;
    font-size: 0.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
p.from-user {
    padding-left: 1rem;
}
span.from-time {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    font-size: 0.8rem;
    color: #aaaaaa;
}
p.from-user {
    padding-left: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
span.from-user-nickname {
    color: #333333;
    font-size: 1rem;
    line-height: 1rem;
}
span.content-info {
    font-size: 0.6rem;
    padding-top: 0.2rem;
    line-height: 1rem;
}
div#app {
    padding-top: 1rem;
}