header.mui-bar.mui-bar-nav {
    height: 2.5rem;
    padding: 0 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mui-bar-nav~.mui-content {
    padding-top: 7.5rem;
}

header.packet-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 2.5rem;
    position: fixed;
    top: 2.5rem;
    z-index: 1;
    background: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
}

header.packet-title>p:first-child {
    color: #000000;
    font-size: 1.2rem;
}

.mui-bar-nav.mui-bar .mui-icon {
    margin-left: -0.5rem;
    padding: 0;
    font-size: 2rem;
    color: #AAAAAA;
}

header.packet-title>p:last-child {
    background: #f0f0f0;
    border-radius: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.2rem 0.5rem;
}

span.date-time {
    font-size: 0.8rem;
    line-height: 1rem;
    margin-right: 0.5rem;
}

img.icon-down {
    width: 0.8rem;
}

ul.tab-bar {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 2rem;
    position: fixed;
    top: 5rem;
    width: 100%;
    background: #ffffff;
    margin: 0;
    left: 0;
    padding: 0 1rem;
}

li.tab-bar-item {
    font-size: 0.8rem;
    color: #AAAAAA;
    margin-right: 1rem;
    padding: 0.1rem 0.5rem;
    border-radius: 0.2rem;
}

li.tab-bar-item.active {
    color: #ffffff;
    background: #9D7E60;
}

img.item-logo {
    width: 15%;
    border-radius: 50%;
}

.tab-content-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.left-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

p.desc-title {
    color: #000000;
    font-size: 0.8rem;
    line-height: 1.2rem;
}

p.desc-date {
    font-size: 0.6rem;
    color: #AAAAAA;
    line-height: 1rem;
}

.content-desc {
    padding-left: 1rem;
}

.tab-content-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #F6F6F6;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}