<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/mui/css/mui.min.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/apply-invoice.css">
    <title>叠石桥</title>
    <!--
        申请发票
    -->
</head>

<body>
    <div id="app">
        <header class="mui-bar mui-bar-nav">
            <i onclick="goBack()" class="mui-icon mui-icon-arrowleft"></i>
        </header>
        <div class="mui-content">
            <header class="packet-title">
                <p>申请发票</p>
            </header>
            <ul class="tab-bar">
                <li class="tab-bar-item active">个人</li>
                <li class="tab-bar-item">企业</li>
            </ul>
            <ul class="repair-info active">
                <li class="repair-item">
                    <label for="" class="title">发票抬头</label>
                    <input :readonly="isApplied" v-model="invoiceInfo.rise" placeholder="抬头名称或极速开票六位代码" type="text"
                        class="content">
                </li>
                <li class="repair-item">
                    <label for="" class="title">电子邮箱</label>
                    <input :readonly="isApplied" v-model="invoiceInfo.email" placeholder="接受您的电子发票" type="email" class="content">
                </li>
                <li v-if="!isApplied" class="repair-item setting">
                    <label for="" class="setting-often">
                        <span class="title">设为常用发票信息</span>
                        <span class="sub-title">可在一个月内开发票</span>
                    </label>
                    <div class="switch">
                        <div class="switch-mask-click"></div>
                        <div class="switch-round"></div>
                    </div>
                </li>
            </ul>
            <ul class="repair-info">
                <li class="repair-item">
                    <label for="" class="title">发票抬头</label>
                    <input placeholder="抬头名称或极速开票六位代码" readonly type="text" class="content arrow-right">
                </li>
                <li class="repair-item">
                    <label for="" class="title">税号</label>
                    <input placeholder="纳税人识别号" type="text" class="content">
                </li>
                <li class="repair-item">
                    <label for="" class="title">开户银行</label>
                    <input placeholder="选填" type="text" class="content">
                </li>
                <li class="repair-item">
                    <label for="" class="title">银行账号</label>
                    <input placeholder="选填" type="number" class="content">
                </li>
                <li class="repair-item">
                    <label for="" class="title">企业地址</label>
                    <input placeholder="选填" type="text" class="content">
                </li>
                <li class="repair-item">
                    <label for="" class="title">企业电话</label>
                    <input placeholder="选填" type="number" class="content">
                </li>
                <li class="repair-item">
                    <label for="" class="title">电子邮箱</label>
                    <input placeholder="接收您的电子发票" type="email" class="content">
                </li>
                <li class="repair-item setting">
                    <label for="" class="setting-often">
                        <span class="title">设为常用发票信息</span>
                        <span class="sub-title">可在一个月内开发票</span>
                    </label>
                    <div class="switch">
                        <div class="switch-mask-click"></div>
                        <div class="switch-round"></div>
                    </div>
                </li>
            </ul>
            <button :disabled="isPerson && isApplied" class="button-apply" :class="{'submit-repair':!isApplied || !isPerson}">
                <template v-if="isPerson && isApplied">
                        已提交申请
                </template>
                <template v-else>
                        提交申请
                </template>
            </button>
        </div>
    </div>
    <script src="assets/vue/vue.min.js"></script>
    <script src="assets/jquery/jquery.min.js"></script>
    <script src="assets/mui/js/mui.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/apply-invoice.js"></script>
</body>

</html>