<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <link rel="stylesheet" href="assets/mui/css/mui.min.css?v=1.0.0">
    <link rel="stylesheet" href="assets/mui/picker/css/mui.picker.min.css?v=1.0.0">
    <link rel="stylesheet" href="css/common.css?v=1.0.0">
    <link rel="stylesheet" href="css/shop-auth.css?v=1.0.0">
    <title>叠石桥</title>
</head>

<body>
    <div id="app">
        <header>
            <img onclick="history.go(-1)" src="imgs/arrow-left-black.png" alt="" class="icon-back">
        </header>
        <p class="title">门店绑定</p>
        <div class="mui-content">
            <ul class="tab-content active">
                <li class="tab-contetn-item arrow-right">
                    <label for="" class="title edit">
                        所在地址
                    </label>
                    <input id="address-public-shop" readonly v-model="addressPub" type="text" class="username">
                </li>
                <li v-if="isEdit" class="tab-contetn-item">
                    <label for="" class="title edit">
                        状态
                    </label>
                    <input readonly disabled v-model="shopStatus" type="text" class="username">
                </li>
                <li @click="uploadRent" class="tab-contetn-item arrow-right">
                    <label for="" class="title">
                        租房合同
                    </label>
                    <span v-cloak class="upload-status">{{renting.realPath != '' ? '已选择' : '请上传'}}</span>
                    <input type="file" accept="image/*" hidden id="renting">
                </li>
            </ul>
            <img v-show="renting.src != ''" :src="renting.src" alt="" class="show-upload-img">
            <button @click="submit" id="test" class="submit">提交</button>
        </div>
    </div>
    <script src="assets/vue/vue.min.js?v=1.0.0"></script>
    <script src="assets/jquery/jquery.min.js?v=1.0.0"></script>
    <script src="assets/mui/js/mui.min.js?v=1.0.0"></script>
    <script src="assets/mui/picker/js/city.data.js?v=1.0.0"></script>
    <script src="assets/mui/picker/js/mui.picker.js?v=1.0.0"></script>
    <script src="assets/mui/picker/js/mui.poppicker.js?v=1.0.0"></script>
    <script src="js/common.js?v=1.0.0"></script>
    <script src="js/bind-shops-add.js?v=1.0.0"></script>
</body>

</html>