<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <link rel="stylesheet" href="assets/mui/css/mui.min.css?v=1.0.0">
    <link rel="stylesheet" href="css/common.css?v=1.0.0">
    <link rel="stylesheet" href="css/comments-category.css?v=1.0.0">
    <title>叠石桥</title>
    <!--
        商品预约
    -->
</head>

<body>
    <div id="app" class="mui-content">
        <!--标题-->
        <header class="top-upload">
            <i onclick="goBack()" class="mui-icon mui-icon-arrowleft"></i>
            <p class="title">商铺评价</p>
        </header>
        <ul class="comment-category">
            <li v-cloak @click="showTab(0)" class="comment-category-item" :class="{active:type == 0}">
                全部 {{nums.total}}
            </li>
            <li v-cloak @click="showTab(1)" class="comment-category-item" :class="{active:type == 1}">
                好评 {{nums.good}}
            </li>
            <li v-cloak @click="showTab(2)" class="comment-category-item" :class="{active:type == 2}">
                中评 {{nums.medium}}
            </li>
            <li v-cloak @click="showTab(3)" class="comment-category-item" :class="{active:type == 3}">
                差评 {{nums.negative}}
            </li>
            <li v-cloak @click="showTab(4)" class="comment-category-item" :class="{active:type == 4}">
                有图 {{nums.img}}
            </li>
        </ul>
        <!--
                        评论列表
                    -->
        <ul class="comments-list">
            <li v-for="item in commentsList" class="comments-item">
                <div class="user-info">
                    <div class="left-part">
                        <img :src="item.hed_images | filterImg" alt="" class="user-logo">
                        <p class="user-nickname">
                            <span v-cloak class="username">{{item.nickname}}</span>
                            <span class="score">
                                评分
                                <img v-for="n in item.service" class="comments-icon" src="imgs/star-high.png" alt="">
                                <img v-for="n in (5 - item.service)" class="comments-icon" src="imgs/star.png" alt="">
                            </span>
                        </p>
                    </div>
                    <div class="right-part">
                        <p v-cloak class="show-date">
                            {{item.create_at}}
                        </p>
                    </div>
                </div>
                <div v-cloak class="comments-content">
                    {{item.content}}
                </div>
                <div class="show-imgs">
                    <img v-for="img in item.images" :src="img" class="show-img-item">
                </div>
            </li>
        </ul>
        <div class="bottom-line">
            ······ 已见底了 ······
        </div>
    </div>
    <script src="assets/vue/vue.min.js?v=1.0.0"></script>
    <script src="assets/jquery/jquery.min.js?v=1.0.0"></script>
    <script src="assets/mui/js/mui.min.js?v=1.0.0"></script>
    <script src="js/common.js?v=1.0.0"></script>
    <script src="js/comments-category.js?v=1.0.0"></script>
</body>

</html>