<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <link rel="stylesheet" href="assets/mui/css/mui.min.css?v=1.0.2">
    <link rel="stylesheet" href="css/common.css?v=1.0.2">
    <link rel="stylesheet" href="css/goods-management.css?v=1.0.2">
    <title>叠石桥</title>
</head>

<body>
    <nav class="mui-bar mui-bar-tab">
        <a class="mui-tab-item" href="workspace.html">
            <img src="imgs/seller-workspace.png" class="mui-icon nav-bar-icon active" />
            <img src="imgs/seller-workspace-active.png" class="mui-icon nav-bar-icon" />
            <span class="mui-tab-label">工作区</span>
        </a>
        <a class="mui-tab-item mui-active" href="javascript:;">
            <img src="imgs/goods.png" class="mui-icon nav-bar-icon" />
            <img src="imgs/goods-active.png" class="mui-icon nav-bar-icon active" />
            <span class="mui-tab-label">商品管理</span>
        </a>
        <a class="mui-tab-item" href="comments.html">
            <img src="imgs/seller-notice.png" class="mui-icon nav-bar-icon active" />
            <img src="imgs/seller-notice-active.png" class="mui-icon nav-bar-icon" />
            <span class="mui-tab-label">评价</span>
        </a>
        <a class="mui-tab-item" href="user.html">
            <img src="imgs/user.png" class="mui-icon nav-bar-icon active" />
            <img src="imgs/user-active.png" class="mui-icon nav-bar-icon" />
            <span class="mui-tab-label">我的</span>
        </a>
    </nav>
    <div id="app" class="mui-content">
        <!--标题-->
        <header class="top-upload">
            <p class="title">商品管理</p>
            <p @click="uplodGoods" class="upload-container">
                <img src="imgs/upload.png" alt="" class="upload-icon">
                <span class="upload-title">上传</span>
            </p>
        </header>
        <!--tab页头-->
        <ul class="goods-tab-bar">
            <li data-type="1" class="goods-tab-bar-item active">
                已上架
                <span v-cloak class="current-number">
                    ({{upperList.length}})
                </span>
            </li>
            <li data-type="2,3" class="goods-tab-bar-item">
                审核中
                <span v-cloak class="current-number">
                    ({{stockList.length}})
                </span>
            </li>
            <li data-type="4" class="goods-tab-bar-item">
                仓库中
                <span v-cloak class="current-number">
                    ({{lowerList.length}})
                </span>
            </li>
            <!-- <li class="goods-tab-bar-item">
                评价
                <span class="current-number">
                    ({{comments.length}})
                </span>
            </li> -->
        </ul>
        <div class="goods-tab-content">
            <!--上架-->
            <div data-type="1" class="goods-tab-content-item active">
                <div v-for="item in upperList" class="goods-item upper">
                    <div :goods-id="item.id" class="goods-info upper">
                        <span class="checkbox"></span>
                        <p v-cloak class="goods-order">商品编号：{{item.sku}}</p>
                        <span class="is-upper">已上架</span>
                    </div>
                    <div @click="getGoodsDetail(item.id)" class="goods-img-container">
                        <img :src="item.images" alt="" class="goods-img">
                        <div class="goods-desc">
                            <p class="goods-title">
                                <span v-cloak class="title">{{item.title}}</span>
                                <span class="eye-number">
                                    <img src="imgs/eye.png" alt="">
                                    <span v-cloak>{{item.click_num}}</span>
                                </span>
                            </p>
                            <p v-cloak class="stock">
                                库存：{{item.nums}}件
                            </p>
                        </div>
                    </div>
                    <div class="operation-group">
                        <button @click="editGoods(item.id)" class="get-detail">编辑</button>
                        <button @click="setDown(item.id)" class="setting-lower">设为下架</button>
                    </div>
                </div>
                <div v-if="upperList.length > 0" class="tools-bar upper">
                    <label @click="selctAllUpper" for="" class="select-all">
                        <span class="checkbox"></span>
                        <span class="title">全选</span>
                    </label>
                    <button @click="setDownAll" class="setting-lower">设为下架</button>
                </div>
            </div>
            <!--仓库中-->
            <div data-type="2,3" class="goods-tab-content-item">
                <div v-for="item in stockList" class="goods-item stock">
                    <div :goods-id="item.id" class="goods-info stock">
                        <p v-cloak class="goods-order">商品编号：{{item.sku}}</p>
                        <span class="is-upper lower">仓库中</span>
                    </div>
                    <div @click="getGoodsDetail(item.id)" class="goods-img-container">
                        <img :src="item.images" alt="" class="goods-img">
                        <div class="goods-desc">
                            <p class="goods-title">
                                <span v-cloak class="title">{{item.title}}</span>
                                <span class="eye-number">
                                    <img src="imgs/eye.png" alt="">
                                    <span v-cloak>{{item.click_num}}</span>
                                </span>
                            </p>
                            <p v-cloak class="stock">
                                库存：{{item.nums}}件
                            </p>
                            <p class="refuse-cause" v-cloak>未通过：{{item.refusal_content}}</p>
                        </div>
                    </div>
                    <div class="operation-group">
                        <button @click="editGoods(item.id)" class="get-detail">编辑</button>
                        <button @click="deleteGoods(item.id)" class="setting-lower delete">删除</button>
                    </div>
                </div>
            </div>
            <!--已下架-->
            <div data-type="4" class="goods-tab-content-item">
                <div v-for="item in lowerList" class="goods-item stock">
                    <div class="goods-info stock">
                        <span class="checkbox"></span>
                        <p v-cloak class="goods-order">商品编号：{{item.sku}}</p>
                        <span class="is-upper">已下架</span>
                    </div>
                    <div @click="getGoodsDetail(item.id)" class="goods-img-container">
                        <img :src="item.images" alt="" class="goods-img">
                        <div class="goods-desc">
                            <p class="goods-title">
                                <span v-cloak class="title">{{item.title}}</span>
                                <span class="eye-number">
                                    <img src="imgs/eye.png" alt="">
                                    <span v-cloak>{{item.click_num}}</span>
                                </span>
                            </p>
                            <p v-cloak class="stock">
                                库存：{{item.nums}}件
                            </p>
                        </div>
                    </div>
                    <div class="operation-group">
                        <button @click="editGoods(item.id)" class="get-detail">编辑</button>
                        <button @click="setUpper(item.id)" class="setting-lower">设为上架</button>
                        <button @click="deleteGoods(item.id)" class="setting-lower delete">删除</button>
                    </div>
                </div>
                <div v-if="lowerList.length > 0" class="tools-bar stock">
                    <label @click="selctAllStock" for="" class="select-all">
                        <span class="checkbox"></span>
                        <span class="title">全选</span>
                    </label>
                    <button @click="setUpperAll" class="setting-lower">设为上架</button>
                </div>
            </div>
            <!-- <div class="goods-tab-content-item">
                <div class="comments-management">
                    <p class="comments-examine">
                        评价审核
                    </p>
                    <span class="mui-badge mui-badge-danger">{{comments.length}}</span>
                </div>
                <ul class="score-list">
                    <li class="score-item">
                        <p class="title">商品描述</p>
                        <p class="score high">4.0</p>
                    </li>
                    <li class="score-item">
                        <p class="title">产品供货</p>
                        <p class="score low">3.0</p>
                    </li>
                    <li class="score-item">
                        <p class="title">商品服务</p>
                        <p class="score high">5.0</p>
                    </li>
                </ul>
                <div class="bg-bar"></div>
                <ul class="comments-list">
                    <li class="comments-item">
                        <img src="imgs/good-comments.png" alt="" class="comments-icon">
                        <p class="comments-title">收到好评</p>
                        <span class="comments-num">22</span>
                    </li>
                    <li class="comments-item">
                        <img src="imgs/normal-comments.png" alt="" class="comments-icon">
                        <p class="comments-title">收到中评</p>
                        <span class="comments-num warning">22</span>
                    </li>
                    <li class="comments-item">
                        <img src="imgs/bad-comments.png" alt="" class="comments-icon">
                        <p class="comments-title">收到差评</p>
                        <span class="comments-num warning">22</span>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
    <script src="assets/vue/vue.min.js?v=1.0.2"></script>
    <script src="assets/jquery/jquery.min.js?v=1.0.2"></script>
    <script src="assets/mui/js/mui.min.js?v=1.0.2"></script>
    <script src="js/common.js?v=1.0.5"></script>
    <script src="js/goods-management.js?v=1.0.2"></script>
</body>

</html>