<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <link rel="stylesheet" href="assets/mui/css/mui.min.css?v=1.1.0">
    <link rel="stylesheet" href="css/common.css?v=1.1.0">
    <link rel="stylesheet" href="css/login.css?v=1.1.0">
    <title>叠石桥</title>
</head>

<body>
    <div id="app">
        <header class="mui-bar mui-bar-nav">
            <i onclick="goBack()" class="mui-icon mui-icon-arrowleft"></i>
        </header>
        <div class="mui-content">
            <header class="packet-title">
                <p>登录</p>
            </header>
            <ul class="login-list">
                <li class="login-item">
                    <label for="" class="title">+86</label>
                    <input @input="validatePhone" v-model="phone" type="number" class="content">
                    <img @click="clearPhone" v-show="phone.length != 0" src="imgs/clear-login.png" alt="" class="clear-phone">
                </li>
                <li v-show="loginWay == 0" class="login-item">
                    <input v-model="password" :type="isShowPwd ? 'text':'password'" placeholder="输入密码" type="text"
                        class="content password">
                    <img @click="showHidePwd" src="imgs/show-password.png" class="show-hide-pwd" alt="" v-show="isShowPwd">
                    <img @click="showHidePwd" src="imgs/hide-password.png" class="show-hide-pwd" alt="" v-show="!isShowPwd">
                    <span @click="resetPass" class="forget-password">忘记密码</span>
                </li>
                <li v-show="loginWay == 1" class="login-item">
                    <input v-model="code" @input="validateCode" type="number" placeholder="输入验证码" class="content">
                    <span v-cloak @click="getCode" class="forget-password code">{{msg}}</span>
                </li>
            </ul>
            <p class="other-way">
                <a href="register.html" class="regisiter">注册</a>
                <span v-show="loginWay == 0" @click="changeWay(1)" class="login-by-code">使用验证码登录</span>
                <span v-show="loginWay == 1" @click="changeWay(0)" class="login-by-password">使用密码登录</span>
            </p>
            <div class="button-bottom-container">
                <button @click="submitLogin" class="login">登录</button>
            </div>
        </div>
    </div>
    <script src="assets/vue/vue.min.js?v=1.0.2"></script>
    <script src="assets/jquery/jquery.min.js?v=1.0.2"></script>
    <script src="assets/mui/js/mui.min.js?v=1.0.2"></script>
    <script src="js/common.js?v=1.0.5"></script>
    <script src="js/login.js?v=1.0.2"></script>
</body>

</html>