<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <link rel="stylesheet" href="assets/mui/css/mui.min.css?v=1.0.2">
    <link rel="stylesheet" href="assets/mui/picker/css/mui.picker.min.css?v=1.0.2">
    <link rel="stylesheet" href="css/common.css?v=1.0.2">
    <link rel="stylesheet" href="css/online-pay.css?v=1.0.2">
    <title>叠石桥</title>
    <!--
        缴费
    -->
</head>

<body>
    <div id="app">
        <header class="mui-bar mui-bar-nav">
            <i onclick="goBack()" class="mui-icon mui-icon-arrowleft"></i>
        </header>
        <div class="mui-content">
            <header class="packet-title">
                <p>缴费</p>
                <p @click="goDetail">明细</p>
            </header>
            <div class="online-pay active">
                <ul class="pay-list">
                    <li id="classify" class="pay-item picker">
                        <label for="" class="title">缴费类型</label>
                        <input v-model="selectedClassify" type="text" class="classify" readonly :disabled="isDisabled">
                    </li>
                    <li v-show="!isShowRepair" id="address" class="pay-item picker">
                        <label for="" class="title">商铺地址</label>
                        <input v-model="selectedShopAddress" class="classify" type="text" readonly>
                    </li>
                    <li id="repair-list" v-show="isShowRepair" class="pay-item picker">
                        <label for="" class="title">报修单</label>
                        <input v-model="selectedRepairName" type="text" class="classify" readonly>
                    </li>
                    <li class="pay-item picker">
                        <label for="" class="title">户号</label>
                        <input readonly disabled v-model="userNum" type="number" class="address">
                    </li>
                    <li class="pay-item">
                        <label for="" class="title">缴费金额</label>
                        <input :disabled="money != 0"  :readonly="money != 0" v-model="inputMoney" type="number" class="address" placeholder="请输入充值金额">
                    </li>
                    <li class="pay-item">
                        <label for="" class="title">备注说明</label>
                        <input @input="validateDesc" v-model="description" type="text" class="address" placeholder="请输入说明">
                    </li>
                    <li class="pay-item">
                        <label for="" class="title">支付费率</label>
                        <input readonly disabled v-model="payFate" type="text" class="address">
                    </li>
                    <li id="pay-way" class="pay-item">
                        <label for="" class="title">支付方式</label>
                        <input readonly v-model="payWay" type="text" class="address classify" placeholder="请选择支付方式" :disabled="isDisabled">
                    </li>
                </ul>
                <button @click="next" class="next">下一步</button>
            </div>
            <!--预览界面-->
            <div :class={active:isNext} class="preview-page">
                <header class="top-title">
                    <i @click="hidePreview" class="mui-icon mui-icon-arrowleft"></i>
                </header>
                <li id="classify" class="pay-item picker">
                    <label for="" class="title">缴费类型</label>
                    <input v-model="selectedClassify" type="text" readonly>
                </li>
                <li v-show="!isShowRepair" id="address" class="pay-item picker">
                    <label for="" class="title">商铺地址</label>
                    <input v-model="selectedShopAddress" type="text" readonly>
                </li>
                <li v-show="isShowRepair" class="pay-item picker">
                    <label for="" class="title">报修单</label>
                    <input v-model="selectedRepairName" type="text" placeholder="请选择报修单" readonly>
                </li>
                <li class="pay-item picker">
                    <label for="" class="title">户号</label>
                    <input readonly disabled v-model="userNum" type="number" class="address">
                </li>
                <li class="pay-item">
                    <label for="" class="title">缴费金额</label>
                    <input readonly disabled v-model="inputMoney" type="number" class="address" placeholder="请输入充值金额">
                </li>
                <li class="pay-item">
                    <label for="" class="title">备注说明</label>
                    <input readonly disabled @input="validateDesc" v-model="description" type="text" class="address">
                </li>
                <li class="pay-item">
                    <label for="" class="title">支付费率</label>
                    <input readonly disabled v-model="payFate" type="text" class="address">
                </li>
                <li id="pay-way" class="pay-item">
                    <label for="" class="title">支付方式</label>
                    <input readonly disabled v-model="payWay" type="text" class="address" placeholder="请选择支付方式">
                </li>
                <button @click="submit" class="submit pay">立即支付</button>
            </div>
        </div>
    </div>
    <script src="assets/vue/vue.min.js?v=1.0.2"></script>
    <script src="assets/jquery/jquery.min.js?v=1.0.2"></script>
    <script src="assets/mui/js/mui.min.js?v=1.0.2"></script>
    <script src="assets/mui/picker/js/mui.picker.js?v=1.0.2"></script>
    <script src="assets/mui/picker/js/mui.poppicker.js?v=1.0.2"></script>
    <script src="js/common.js?v=1.0.5"></script>
    <script src="js/online-pay.js?v=1.0.2"></script>
</body>

</html>