<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/mui/css/mui.min.css">
    <link rel="stylesheet" href="assets/mui/picker/css/mui.picker.min.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/personal-info.css">
    <title>叠石桥</title>
    <!--
        个人信息
    -->
</head>

<body>
    <div id="app">
        <div id="wait-loading" class="mui-loading">
            <div class="mui-spinner">
            </div>
        </div>
        <header class="mui-bar mui-bar-nav">
            <i onclick="goBack()" class="mui-icon mui-icon-arrowleft"></i>
        </header>
        <div class="mui-content">
            <div v-show="!isEditName" class="user-logo-editor">
                <div @click="editNickname" class="editor-nickname">
                    <p v-cloak  class="nickname">{{nickname}}</p>
                    <p class="sub-title">点击编辑昵称</p>
                </div>
                <div class="editor-logo">
                    <div @click="uploadLogo($event)" class="mask-upload">
                        <input id="file" hidden type="file" accept="image/*" class="invisible">
                    </div>
                    <img class="user-logo" :src="userLogo" alt="">
                </div>
            </div>
            <div v-show="isEditName" class="editName">
                <div class="input-group">
                    <input v-model="editName" @input="limitName" type="text" class="editor">
                    <span v-cloak  class="inpupt-number">{{editName.length}} / 8</span>
                    <span @click="clearInput" v-show="editName.length != 0" class="clear-input">
                        <img src="imgs/clear.png" alt="">
                    </span>
                </div>
                <button @click="hideInput" class="cancel-btn">取消</button>
                <button @click="confirmName" class="confirm">确定</button>
            </div>
            <p class="title">基本信息</p>
            <ul class="info-list">
                <li id="sex" class="info-item">
                    <label for="" class="title">性别</label>
                    <input v-model="sexShow" placeholder="选择性别" readonly type="text" class="content">
                </li>
                <li id="birthdate" class="info-item">
                    <label for="" class="title">生日</label>
                    <input v-model="birthdate" placeholder="选择日期" readonly type="text" class="content">
                </li>
                <li id="address" class="info-item">
                    <label for="" class="title">地址</label>
                    <input v-model="address" placeholder="选择城市" readonly type="text" class="content">
                </li>
            </ul>
        </div>
        <div id="sheet" class="mui-popover mui-popover-bottom mui-popover-action ">
            <div id="clipArea"></div>
            <button onclick="closeSheet()" id="cancel-btn"><i class="mui-icon mui-icon mui-icon-closeempty"></i></button>
            <button id="confirm-btn"><i class="mui-icon mui-icon mui-icon-checkmarkempty"></i></button>
        </div>
    </div>
    <script src="assets/vue/vue.min.js"></script>
    <script src="assets/mui/js/mui.min.js"></script>
    <script src="assets/mui/picker/js/mui.picker.js"></script>
    <script src="assets/mui/picker/js/mui.poppicker.js"></script>
    <script src="assets/mui/picker/js/mui.dtpicker.js"></script>
    <script src="assets/mui/picker/js/city.data.js"></script>
    <script type="text/javascript" src="assets/upload/js/jquery-2.1.3.min.js"></script>
    <script src="assets/upload/js/iscroll-zoom.js"></script>
    <script src="assets/upload/js/hammer.js"></script>
    <script src="assets/upload/js/lrz.all.bundle.js"></script>
    <script src="assets/upload/js/jquery.photoClip.js"></script>
    <script src="js/common.js"></script>
    <script src="js/personal-info.js"></script>
</body>

</html>