<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/mui/css/mui.min.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/shop-base-info.css">
    <title>叠石桥</title>
</head>

<body>
    <div id="app">
        <header>
            <img onclick="goBack()" src="imgs/arrow-left.png" class="icon-back">
        </header>
        <div class="mui-content">
            <p class="shop-info">商铺信息</p>
            <div class="shop-logo-info">
                <img :src="shopInfo.images | filterImg" alt="" class="shop-logo">
                <p class="shop-info-level">
                    <span v-cloak class="shop-name">{{shopInfo.title}}</span>
                    <span class="shop-level-icon">
                        <img v-for="n in shopInfo.shop_review" src="imgs/crown-active.png" alt="" class="level-icon level-icon-active">
                        <img v-for="n in (5 - shopInfo.shop_review)" src="imgs/crown.png" alt="" class="level-icon">
                        <span>{{shopInfo.shop_review}}分</span>
                    </span>
                </p>
            </div>
            <!--浏览量，好评率，关注量-->
            <div class="base-data">
                <div class="base-data-item">
                    <span class="number">{{shopInfo.service_ratio}}%</span>
                    <span class="title">好评率</span>
                </div>
                <div class="base-data-item">
                    <span class="number">{{shopInfo.shop_collection}}</span>
                    <span class="title">关注量</span>
                </div>
            </div>
            <!--商铺评分-->
            <ul class="shop-score">
                <li class="shop-score-item">
                    <span class="title">综合服务</span>
                    <span class="icon">
                        <img v-for="n in shopInfo.shop_quality" src="imgs/star-high.png" alt="">
                        <img v-for="n in (5 - shopInfo.shop_quality)" src="imgs/star.png" alt="">
                    </span>
                    <span class="score">
                        <span class="high">{{shopInfo.shop_quality}}</span>
                    </span>
                </li>
                <li class="shop-score-item">
                    <span class="title">综合评分</span>
                    <span class="icon">
                        <img v-for="n in shopInfo.shop_review" src="imgs/star-high.png" alt="">
                        <img v-for="n in (5 - shopInfo.shop_review)" src="imgs/star.png" alt="">
                    </span>
                    <span class="score">
                        <span v-cloak class="high">{{shopInfo.shop_review}}</span>
                    </span>
                </li>
            </ul>
            <!--地址信息-->
            <ul class="address-list">
                <li class="address-item">
                    <p class="title">所在地址</p>
                    <p class="content" v-cloak>{{shopInfo.province+shopInfo.city+shopInfo.district}}</p>
                </li>
                <li class="address-item">
                    <p class="title">商家电话</p>
                    <p class="content">{{shopInfo.phone}}</p>
                </li>
                <li class="address-item">
                    <p class="title">注册时间</p>
                    <p class="content">{{shopInfo.create_at}}</p>
                </li>
            </ul>
            <!--工商执照-->
            <div class="card">
                <p class="license-title">工商执照</p>
                <img :src="shopInfo.business_license | filterImg" alt="" class="license">
            </div>
        </div>
    </div>
    <script src="assets/vue/vue.min.js"></script>
    <script src="assets/jquery/jquery.min.js"></script>
    <script src="assets/mui/js/mui.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/shop-base-info.js"></script>
</body>

</html>