<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/mui/css/mui.min.css">
    <link rel="stylesheet" href="assets/mui/picker/css/mui.picker.min.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/shop-auth.css">
    <title>叠石桥</title>
</head>

<body>
    <div id="app">
        <header>
            <img onclick="history.go(-1)" src="imgs/arrow-left-black.png" alt="" class="icon-back">
        </header>
        <p class="title">商铺认证</p>
        <div class="mui-content">
            <ul class="tab-bar">
                <li class="tab-item active" data-shop-id="0">公房商户</li>
                <li class="tab-item" data-shop-id="1">其他商户</li>
            </ul>
            <ul class="tab-content active">
                <li class="tab-contetn-item">
                    <label for="" class="title edit">
                        用户名<i v-if="isPub" class="must-icon">*</i>
                    </label>
                    <input type="text" class="username">
                </li>
                <li class="tab-contetn-item">
                    <label for="" class="title edit">
                        联系电话<i v-if="isPub" class="must-icon">*</i>
                    </label>
                    <input v-model="phone" @input="limitPhone" type="number" class="username">
                </li>
                <li v-show="isPub" class="tab-contetn-item arrow-right">
                    <label for="" class="title">
                        所在地址<i v-if="isPub" class="must-icon">*</i>
                    </label>
                    <input id="address-public-shop" readonly v-model="addressPub" type="text" class="username">
                </li>
                <li v-show="!isPub" class="tab-contetn-item arrow-right">
                    <label for="" class="title">
                        所在地区<i v-if="isPub" class="must-icon">*</i>
                    </label>
                    <input id="address-public-other" v-model="otherCitySelected" readonly type="text" class="username">
                </li>
                <li v-if="!isPub" class="tab-contetn-item">
                        <label for="" class="title">
                            详细地址
                        </label>
                        <input id="detail-address" type="text" class="username">
                    </li>
                <li class="tab-contetn-item id-card">
                    <label for="" class="title">
                        身份证<i class="must-icon">*</i>
                    </label>
                    <div class="id-card-container">
                        <img class="id-card" src="imgs/id-card-1.png" alt="">
                        <img class="id-card" src="imgs/id-card-2.png" alt="">
                    </div>
                </li>
                <li class="tab-contetn-item arrow-right">
                    <label for="" class="title">
                        营业执照（选填）
                    </label>
                </li>
                <li class="tab-contetn-item arrow-right">
                    <label for="" class="title">
                        租房合同（选填）
                    </label>
                </li>
                <li class="tab-contetn-item arrow-right">
                    <label for="" class="title">
                        其他补充材料（选填）
                    </label>
                </li>
            </ul>
            <button id="test" class="submit">提交</button>
        </div>
    </div>
    <script src="assets/vue/vue.min.js"></script>
    <script src="assets/jquery/jquery.min.js"></script>
    <script src="assets/mui/js/mui.min.js"></script>
    <script src="assets/mui/picker/js/city.data.js"></script>
    <script src="assets/mui/picker/js/mui.picker.js"></script>
    <script src="assets/mui/picker/js/mui.poppicker.js"></script>
    <script src="js/common.js"></script>
    <script src="js/shop-auth.js"></script>
</body>

</html>