<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <link rel="stylesheet" href="assets/mui/css/mui.min.css?v=1.1.0">
    <link rel="stylesheet" href="assets/mui/picker/css/mui.picker.min.css?v=1.1.0">
    <link rel="stylesheet" href="css/common.css?v=1.1.0">
    <link rel="stylesheet" href="css/shop-auth.css?v=1.1.0">
    <title>叠石桥</title>
</head>

<body>
    <div id="app">
        <header>
            <img onclick="history.go(-1)" src="imgs/arrow-left-black.png" alt="" class="icon-back">
        </header>
        <p class="title">商铺认证</p>
        <p class="refuse-cause" v-if="isEdit" v-cloak>拒绝原因：{{refuseCause}}</p>
        <div class="mui-content">
            <ul class="tab-bar">
                <li class="tab-item active" data-shop-id="0">家纺城商户</li>
                <li class="tab-item" data-shop-id="1">其他商户</li>
            </ul>
            <ul class="tab-content active">
                <li class="tab-contetn-item">
                    <label for="" class="title edit">
                        店铺负责人<i class="must-icon">*</i>
                    </label>
                    <input v-model="userName" @input="validateName" type="text" class="username">
                </li>
                <li class="tab-contetn-item">
                    <label for="" class="title edit">
                        联系电话<i class="must-icon">*</i>
                    </label>
                    <input readonly disabled v-model="phone" @input="limitPhone" type="number" class="username">
                </li>
                <li class="tab-contetn-item">
                    <label for="" class="title edit">
                        店铺名称<i class="must-icon">*</i>
                    </label>
                    <input v-model="shopName" @input="validateTitle" type="text" class="username">
                </li>
                <li v-show="!isRegister" class="tab-contetn-item">
                    <label for="" class="title edit">密码<i class="must-icon">*</i></label>
                    <input v-model="password" @input="limitPassword" type="password" class="password" placeholder="请输入6-18位密码">
                </li>
                <li v-show="isPub" class="tab-contetn-item arrow-right">
                    <label for="" class="title edit">
                        所在地址<i v-if="isPub" class="must-icon">*</i>
                    </label>
                    <input id="address-public-shop" readonly v-model="addressPub" type="text" class="username">
                </li>
                <li  class="tab-contetn-item arrow-right">
                        <label for="" class="title edit">
                            经营类目<i v-if="isPub" class="must-icon">*</i>
                        </label>
                        <input id="main-category" readonly v-model="mainCategoryName" type="text" class="username">
                    </li>
                <li v-show="!isPub" class="tab-contetn-item arrow-right">
                    <label for="" class="title edit">
                        所在地区<i class="must-icon">*</i>
                    </label>
                    <input id="address-public-other" v-model="otherCitySelected" readonly type="text" class="username">
                </li>
                <li v-if="!isPub" class="tab-contetn-item">
                    <label for="" class="title edit">
                        详细地址<i class="must-icon">*</i>
                    </label>
                    <input @input="limitAddress" v-model="detailAddress" id="detail-address" type="text" class="username">
                </li>
                <li class="tab-contetn-item id-card">
                    <label for="" class="title">
                        身份证<i class="must-icon">*</i>
                    </label>
                    <div class="id-card-container">
                        <img @click="uploadPortrait" class="id-card" :src="cardList.portrait.src" alt="">
                        <input type="file" id="portrait" hidden accept="image/*">
                        <img @click="uploadEmblem" class="id-card" :src="cardList.emblem.src" alt="">
                        <input type="file" accept="image/*" id="emblem" hidden />
                    </div>
                </li>
                <li @click="uploadLicense" class="tab-contetn-item arrow-right">
                    <label for="" class="title">
                        营业执照<i class="must-icon">*</i>
                    </label>
                    <span v-cloak class="upload-status">{{cardList.license.realPath != '' ? '已选择' : '请上传'}}</span>
                    <input type="file" accept="image/*" hidden id="license">
                </li>
                <li @click="uploadRent" class="tab-contetn-item arrow-right">
                    <label for="" class="title">
                        租房合同<i class="must-icon">*</i>
                    </label>
                    <span v-cloak class="upload-status">{{cardList.renting.realPath != '' ? '已选择' : '请上传'}}</span>
                    <input type="file" accept="image/*" hidden id="renting">
                </li>
                <li class="tab-contetn-item">
                    <label for="" class="title edit">
                        房东
                    </label>
                    <input v-model="landlord" @input="validateName" type="text" class="username">
                </li>
                <li class="tab-contetn-item">
                    <label for="" class="title edit">
                        房东电话
                    </label>
                    <input v-model="landlord_phone" @input="limitPhone" type="number" class="username">
                </li>
            </ul>
            <button @click="submit" id="test" class="submit">提交</button>
        </div>
    </div>
    <script src="assets/vue/vue.min.js?v=1.0.2"></script>
    <script src="assets/jquery/jquery.min.js?v=1.0.2"></script>
    <script src="assets/mui/js/mui.min.js?v=1.0.2"></script>
    <script src="assets/mui/picker/js/city.data.js?v=1.0.2"></script>
    <script src="assets/mui/picker/js/mui.picker.js?v=1.0.2"></script>
    <script src="assets/mui/picker/js/mui.poppicker.js?v=1.0.2"></script>
    <script src="js/common.js?v=1.0.6"></script>
    <script src="js/shop-auth.js?v=1.0.9"></script>
</body>

</html>