<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <link rel="stylesheet" href="assets/mui/css/mui.min.css?v=1.2.6">
    <link rel="stylesheet" href="css/common.css?v=1.2.6">
    <link rel="stylesheet" href="css/attract-investment-detail.css?v=1.2.6">
    <!--
        招商招租详情页
    -->
</head>

<body>
    <div id="app" v-cloak>
        <header>
            <img onclick="history.go(-1)" src="imgs/arrow-left.png" alt="" class="icon-back">
        </header>
        <p class="title">
            招商招租详情
        </p>
        <div class="img-slider">
            <img v-for="img in attractInfo.thumb" :src="img" alt="" class="img-slider-item">
        </div>
        <p v-cloak class="desc">
            {{attractInfo.title}}
        </p>
        <div v-cloak class="business-item-content">
            <img src="imgs/position.png" class="icon-positon" alt="">
            <p class="address-info" v-cloak>{{attractInfo.province+attractInfo.city+attractInfo.area+attractInfo.stage+attractInfo.building+attractInfo.address}}</p>
        </div>
        <p class="sub-title-btn">
            <span v-cloak class="sub-title">{{attractInfo.title2}}</span>
            <button @click="reverseAttract" class="revese" :class="{disabled:attractInfo.appoint == 1}" :disabled="attractInfo.appoint == 1">{{attractInfo.appoint == 0 ? '预约' : '已预约'}}</button>
        </p>
        <p class="setting">
            配置设施
        </p>
        <ul class="facilities-list">
            <li v-for="item in attractInfo.appliance" class="facilities-item">
                <img src="imgs/facilities.png" alt="" class="facilities-logo">
                <span v-cloak class="facilities-name">{{item}}</span>
            </li>
        </ul>
        <p class="investment-title">
            招租信息
        </p>
        <div v-cloak class="investment-detail" v-html="attractInfo.content">
        </div>
        <div id="sheet1" class="mui-popover mui-popover-bottom mui-popover-action ">
            <div class="content">
                <div class="input-container">
                    <label for="" class="title">姓名</label>
                    <input @input="limitName" v-model="name" placeholder="请输入姓名" type="text" class="username item">
                </div>
                <div class="input-container">
                    <label for="" class="title">手机号</label>
                    <input @input="limitPhone" v-model="phone" placeholder="请输入手机号" type="number" class="phone item">
                </div>
                <div class="btn-group">
                    <a href="#sheet1" class="btn cancel">取消</a>
                    <a @click="submitReverse" href="javascript:;" class="btn confirm">确定</a>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/vue/vue.min.js?v=1.2.7"></script>
    <script src="assets/jquery/jquery.min.js?v=1.2.7"></script>
    <script src="assets/mui/js/mui.min.js?v=1.2.7"></script>
    <script src="js/common.js?v=1.2.7"></script>
    <script src="js/attract-investment-detail.js?v=1.2.7"></script>
</body>

</html>