<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <link rel="stylesheet" href="assets/mui/css/mui.min.css?v=1.1.0">
    <link rel="stylesheet" href="assets/swiper/css/swiper.min.css?v=1.1.0">
    <link rel="stylesheet" href="css/common.css?v=1.1.0">
    <link rel="stylesheet" href="css/goods-detail.css?v=1.1.0">
    <title>叠石桥</title>
    <!--
        商品详情
    -->
</head>

<body>
    <div id="app">
        <header>
            <img onclick="history.go(-1)" src="imgs/arrow-left.png" alt="" class="icon-back">
        </header>
        <p class="title">
            商品详情
        </p>
        <div class="swiper-container global-promotion">
            <div class="swiper-wrapper">
                <div v-for="img in goodsInfo.goods.images" class="swiper-slide"><img :src="img | filterImg"></div>
            </div>
        </div>
        <div class="goods-desc">
            <div v-if="goodsInfo.goods.is_collection == 1" class="goods-title-container">
                <p v-cloak class="title">{{goodsInfo.goods.title}}</p>
                <p @click="collect(0)" class="collection">
                    <img src="imgs/star-high.png" alt="">
                    <span class="active">已收藏</span>
                </p>
            </div>
            <div v-else class="goods-title-container">
                <p v-cloak class="title">{{goodsInfo.goods.title}}</p>
                <p @click="collect(1)" class="collection">
                    <img src="imgs/star.png" alt="">
                    <span>收藏</span>
                </p>
            </div>
            <p v-cloak class="sub-title">{{goodsInfo.goods.g_desc}}</p>
        </div>
        <div class="business-container">
            <div class="business-info">
                <img :src="goodsInfo.shops_info.images" class="business-logo" />
                <p class="business-detail">
                    <span v-cloak class="business-name"><span class="business-shops-title">{{goodsInfo.shops_info.title}}</span><img v-for="n in goodsInfo.shops_info.shop_review"
                            src="imgs/star-high.png" class="business-level" /><img v-for="n in (5 - goodsInfo.shops_info.shop_review)"
                            src="imgs/star.png" class="business-level" /></span>
                    <span v-cloak>收藏 {{goodsInfo.shops_info.shop_collection}}</span>
                </p>
            </div>
            <button @click="enterShop(goodsInfo.shops_info.id)" class="go-business-btn">
                进店
            </button>
        </div>
    </div>
    <script src="assets/vue/vue.min.js?v=1.0.2"></script>
    <script src="assets/jquery/jquery.min.js?v=1.0.2"></script>
    <script src="assets/mui/js/mui.min.js?v=1.0.2"></script>
    <script src="assets/swiper/js/swiper.min.js?v=1.0.2"></script>
    <script src="js/common.js?v=1.0.7.1"></script>
    <script src="js/goods-detail.js?v=1.0.2"></script>
</body>

</html>