<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <link rel="stylesheet" href="assets/mui/css/mui.min.css?v=1.2.6">
    <link rel="stylesheet" href="css/common.css?v=1.2.6">
    <link rel="stylesheet" href="css/user.css?v=1.2.6">
    <title>叠石桥</title>
</head>

<body>
    <div id="app">
        <!--底部导航栏(普通用户)-->
        <nav v-if="currentRole == 0" class="mui-bar mui-bar-tab">
            <a class="mui-tab-item" href="index.html">
                <img src="imgs/home.png" class="mui-icon nav-bar-icon active" />
                <img src="imgs/home-active.png" class="mui-icon nav-bar-icon" />
                <span class="mui-tab-label">首页</span>
            </a>
            <a class="mui-tab-item" href="goods.html">
                <img src="imgs/goods.png" class="mui-icon nav-bar-icon active" />
                <img src="imgs/goods-active.png" class="mui-icon nav-bar-icon" />
                <span class="mui-tab-label">商品</span>
            </a>
            <a class="mui-tab-item" href="info.html">
                <img src="imgs/info.png" class="mui-icon nav-bar-icon active" />
                <img src="imgs/info-active.png" class="mui-icon nav-bar-icon" />
                <span class="mui-tab-label">资讯</span>
            </a>
            <a class="mui-tab-item mui-active" href="javascript:;">
                <img src="imgs/user.png" class="mui-icon nav-bar-icon" />
                <img src="imgs/user-active.png" class="mui-icon nav-bar-icon active" />
                <span class="mui-tab-label">我的</span>
            </a>
        </nav>
        <!--底部导航栏(商家)-->
        <nav v-else class="mui-bar mui-bar-tab">
            <a class="mui-tab-item" href="workspace.html">
                <img src="imgs/seller-workspace.png" class="mui-icon nav-bar-icon active" />
                <img src="imgs/seller-workspace-active.png" class="mui-icon nav-bar-icon" />
                <span class="mui-tab-label">店铺信息</span>
            </a>
            <a class="mui-tab-item" href="goods-management.html">
                <img src="imgs/goods.png" class="mui-icon nav-bar-icon active" />
                <img src="imgs/goods-active.png" class="mui-icon nav-bar-icon" />
                <span class="mui-tab-label">商品管理</span>
            </a>
            <a class="mui-tab-item" href="comments.html">
                <img src="imgs/seller-notice.png" class="mui-icon nav-bar-icon active" />
                <img src="imgs/seller-notice-active.png" class="mui-icon nav-bar-icon" />
                <span class="mui-tab-label">评价</span>
            </a>
            <a class="mui-tab-item mui-active" href="javascript:;">
                <img src="imgs/user.png" class="mui-icon nav-bar-icon" />
                <img src="imgs/user-active.png" class="mui-icon nav-bar-icon active" />
                <span class="mui-tab-label">我的</span>
            </a>
        </nav>
        <div class="mui-content">
            <header class="switch-container">
                <p @click="switchRole" class="switch-role">
                    <img src="imgs/user-switch.png" class="switch-icon" />
                    <span>
                        <template v-if="currentRole == 0">切换到商家</template>
                        <template v-if="currentRole == 1">切换到买家</template>
                    </span>
                </p>
            </header>
            <div class="user-info" @click="login">
                <template v-if="userData">
                    <template v-if="currentRole == 1">
                        <img class="user-logo" :src="userData.shops.images | filterImg" />
                        <p class="user-detail">
                            <span v-cloak class="user-nickname">{{userData.shops.title}}</span>
                            <span class="user-welcome">欢迎来叠石桥体验商城商铺一体化</span>
                        </p>
                        <img src="imgs/qrcode.png" class="qrcode-icon" alt="">
                    </template>
                    <template v-if="currentRole == 0">
                        <img class="user-logo" :src="userData.users.images | filterImg" />
                        <p class="user-detail">
                            <span v-cloak class="user-nickname">你好！{{userData.users.nickname}}</span>
                            <span class="user-welcome">欢迎来叠石桥体验商城商铺一体化</span>
                        </p>
                    </template>
                </template>
                <template v-else>
                    <img class="user-logo" src="imgs/user-logo.png" />
                    <p class="user-detail">
                        <span class="user-nickname">立即登录</span>
                        <span class="user-welcome">登录后给你意想不到的惊喜</span>
                    </p>
                </template>
            </div>

            <!--列表项目-->
            <ul class="operation-list">
                <a href="javascript:;" @click="enterItem('my-collection.html')">
                    <li class="operation-item">
                        <img class="operation-item-icon" src="imgs/user-collection.png" />
                        <p class="operation-item-name">我的收藏</p>
                    </li>
                </a>
            </ul>
            <ul class="operation-list">
                <template v-if="currentRole == 0">
                    <a href="javascript:;" @click="enterItem('shop-auth.html',true)">
                        <li class="operation-item">
                            <img class="operation-item-icon" src="imgs/user-auth.png" />
                            <p class="operation-item-name">商铺认证</p>
                        </li>
                    </a>
                    <a href="javascript:;" @click="enterItem('my-footprint.html')">
                        <li class="operation-item">
                            <img class="operation-item-icon" src="imgs/user-footmark.png" />
                            <p class="operation-item-name">我的足迹</p>
                        </li>
                    </a>
                </template>
                <template v-else>
                    <a href="javascript:;" @click="enterItem('online-pay.html')">
                        <li class="operation-item">
                            <img class="operation-item-icon" src="imgs/online-pay.png" />
                            <p class="operation-item-name">在线缴费</p>
                        </li>
                    </a>
                    <a href="javascript:;" @click="enterItem('pay-detail.html')">
                        <li class="operation-item">
                            <img class="operation-item-icon" src="imgs/online-pay.png" />
                            <p class="operation-item-name">我的缴费</p>
                        </li>
                    </a>
                    <a href="javascript:;" @click="enterItem('online-repair.html')">
                        <li class="operation-item">
                            <img class="operation-item-icon" src="imgs/online-repair.png" />
                            <p class="operation-item-name">在线报修</p>
                        </li>
                    </a>
                    <a href="javascript:;" @click="enterItem('my-shops.html')">
                        <li class="operation-item">
                            <img class="operation-item-icon" src="imgs/user-auth.png" />
                            <p class="operation-item-name">我的门店</p>
                        </li>
                    </a>
                </template>
            </ul>
            <ul class="operation-list">
                <a v-if="currentRole == 0" href="javascript:;" @click="enterItem('setting.html')">
                    <li class="operation-item">
                        <img class="operation-item-icon" src="imgs/user-setting.png" />
                        <p class="operation-item-name">设置</p>
                    </li>
                </a>
                <a href="javascript:;" @click="enterItem('contact-us.html')">
                    <li class="operation-item">
                        <img class="operation-item-icon" src="imgs/user-collection.png" />
                        <p class="operation-item-name">联系我们</p>
                    </li>
                </a>
                <a href="javascript:;" @click="enterItem('my-complaint-list.html')">
                    <li class="operation-item">
                        <img class="operation-item-icon" src="imgs/user-collection.png" />
                        <p class="operation-item-name">我的投诉建议</p>
                    </li>
                </a>
                <template v-if="currentRole == 1">
                    <!-- <a href="javascript:;" @click="enterItem('apply-invoice.html')">
                        <li class="operation-item">
                            <img class="operation-item-icon" src="imgs/user-setting.png" />
                            <p class="operation-item-name">员工微信绑定</p>
                        </li>
                    </a> -->
                    <a href="javascript:;" @click="enterItem('apply-invoice.html')">
                        <li class="operation-item">
                            <img class="operation-item-icon" src="imgs/user-setting.png" />
                            <p class="operation-item-name">发票设置</p>
                        </li>
                    </a>
                    <a href="javascript:;" @click="enterItem('shop-data-setting.html')">
                        <li class="operation-item">
                            <img class="operation-item-icon" src="imgs/user-setting.png" />
                            <p class="operation-item-name">店铺设置</p>
                        </li>
                    </a>
                </template>
            </ul>
        </div>
        <div id="sheet1" class="mui-popover mui-popover-bottom mui-popover-action ">
            <p class="title">分享我的店铺</p>
            <div id="shops-qrcode">

            </div>
            <p class="sub-title">使用微信扫一扫</p>
            <a href="#sheet1" class="close-sheet">关闭</a>
        </div>
    </div>
    <script src="assets/vue/vue.min.js?v=1.2.6"></script>
    <script src="assets/jquery/jquery.min.js?v=1.2.6"></script>
    <script src="assets/jq-qrcode/jquery.qrcode.min.js?v=1.2.6"></script>
    <script src="assets/mui/js/mui.min.js?v=1.2.6"></script>
    <script src="js/common.js?v=1.2.6"></script>
    <script src="js/user.js?v=1.2.6"></script>
</body>

</html>